:root{
    --primaryBgColor: #e71602;
    --primaryBgColorDarker: #b8000b;
    --primaryBorderColor: #5e0606;

    --primaryBlack: #1f1f1fFA;
    --primaryBlackAccent: #1f1f1f00;

    --primaryTxtColor: #e8e8e8e8;
    --primaryTxtColorHighLight: #e3acaf;    
}

@font-face {
    font-family: FontBased;
    src: url(./CascadiaMono/CaskaydiaMonoNerdFont-Regular.ttf);
    
}

h1{
color: var(--primaryTxtColor);
}
body{
    margin-top: 30px;
    font-family: FontBased;
    background-image: linear-gradient(to left, var(--primaryBorderColor), var(--primaryBgColor), var(--primaryBorderColor));

    background-position-x: 0px;
}
p{
    font-size: large;
    color: var(--primaryTxtColor);
    margin: 1%;
}
h2{
    border-bottom: 3px solid;
    color: var(--primaryTxtColor);
    padding-top: 30px;
    padding-bottom: 3px;
    border-color:  var(--primaryBorderColor);
}
ul{
    color: var(--primaryTxtColor);
}
.icone{
    width: 50px;
    height: 50px;
    background-color: var(--primaryTxtColor);
    border-radius: 50%;
}
.woker{
    position: fixed;
    bottom: 0;
    left: 0;
}
.banner{
    object-fit: cover;
}
.pfp{
    /*trimming*/
    object-fit: cover;
    margin-left: 0px;
    margin-right: auto;
    
    width: 150px;
    height: 150px;
    /*fazendo as bordas*/
    border-radius: 50%;
    border: 5px solid;
    /*definindo as cores */
    border-color: var(--primaryBorderColor);
    background-color: var(--primaryTxtColorHighLight);
}
.container{
    background-image:  linear-gradient(to top, var(--primaryBlack) 60%,  var(--primaryBlackAccent));
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    padding: 3%;
    
}
.hyperlink{
    color: var(--primaryTxtColorHighLight);
}
.buttondiv{
    margin-right: 1%;
    margin-left: 85%;
}
#btn-print{
  background-image: linear-gradient(to bottom, var(--primaryBgColor) 80%, var(--primaryBgColorDarker) );
  color: var(--primaryTxtColor);                  
  border: none;                 
  padding: 10px 20px;            
  cursor: pointer;               
  font-size: 16px;               
  border-radius: 3px;
}
#btn-print:hover{
    background-image: linear-gradient(to bottom, var(--primaryBgColor) 5%, var(--primaryBgColorDarker) );
}
#btn-lang{
  background-image: linear-gradient(to bottom, var(--primaryBgColor) 80%, var(--primaryBgColorDarker) );
  color: var(--primaryTxtColor);                  
  border: none;                 
  padding: 10px 20px;            
  cursor: pointer;               
  font-size: 16px;               
  border-radius: 3px;           
}
#btn-lang:hover{
    background-image: linear-gradient(to bottom, var(--primaryBgColor) 5%, var(--primaryBgColorDarker) );
}

@media print{
  #btn-print{
    display: none;             
    visibility: hidden;       
  }
}