@font-face {
    font-family: FontBased;
    src: url(./CascadiaMono/CaskaydiaMonoNerdFont-Regular.ttf);
    
}

h1{
color: #e8e8e8;
}
body{
    margin-top: 30px;
    font-family: FontBased;
    background-image: linear-gradient(to left, #b8000b, #e71602, #b8000b);
    background-position-x: 0px;
}
p{
    font-size: large;
    color: #e8e8e8;
    margin: 1%;
}
h2{
    border-bottom: 3px solid;
    color: #e8e8e8;
    padding-top: 30px;
    padding-bottom: 3px;
    border-color:  #5e0606;
}
ul{
    color: #e8e8e8;
}
.icone{
    width: 50px;
    height: 50px;
    background-color: #fdfdfd;
    border-radius: 50%;
}
.woker{
    position: fixed;
    bottom: 0;
    left: 0;
}
.banner{
    object-fit: cover;
}
.pfp{
    /*trimming*/
    object-fit: cover;
    margin-left: 0px;
    margin-right: auto;
    
    width: 150px;
    height: 150px;
    /*fazendo as bordas*/
    border-radius: 50%;
    border: 5px solid;
    /*definindo as cores */
    border-color: darkred;
    background-color: #69aabf;
}
.container{
    background-image:  linear-gradient(to top, #1f1f1fFA 60%,  #1f1f1f00);
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    padding: 3%;
    
}
.hyperlink{
    color: #e3acaf;
}
.buttondiv{
    margin-left: 90%;
}
#btn-print{
  background-image: linear-gradient(to bottom, #e71602 80%,  #5e0606);
  color: white;                  
  border: none;                 
  padding: 10px 20px;            
  cursor: pointer;               
  font-size: 16px;               
  border-radius: 3px;           
}


@media print{
  #btn-print{
    display: none;             
    visibility: hidden;       
  }
}